* {
    margin-top: 0%;
}

html {
    scroll-behavior: smooth;
}

/* Dark mode */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .card,
body.dark-mode form {
    background-color: #1e1e1e !important;
    color: #ffffff;
}

body.dark-mode .bg-light {
    background-color: #181818 !important;
}

body.dark-mode .text-muted {
    color: #adb5bd !important;
}